body {
    margin: 50px 50px;
}
form {
   width: 260px;
   padding: 10px;
   display: flex;
   flex-wrap: wrap;
}
div {
    display: flex;
    gap: 20px;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 20px;
    border: 1px solid lightslategray;
    padding: 5px 10px;
}
button {
    border-radius: 50%;
}
form,
.input {
    border-radius: 5px;
    border: 2px solid darkslategray;
    margin: 15px 10px;
    padding: 5px 10px;

}
.focusin {
    border: 4px solid chartreuse;
}
.span {
    font-size: 16px;
}